/*=========================
	4.3.2 Form Call to Action
===========================*/
.form-cta {
	font-family: $sectionDescFontFamily;
	@include xy-grid;
	background: none;
	border: none;
	padding: 0;

	&__label {
		@include breakpoint(small) {
			@include xy-cell(12);
		}
		@include breakpoint(medium) {
			@include xy-cell(6);
		}
		@include breakpoint(large, xlarge up) {
			@include xy-cell(3);
		}
	}

	&__input {
		font-size: rem-calc(1.2rem);
	}

	&__button {
		@include xy-cell(shrink);
		@include breakpoint(small) {
			@include xy-grid;
    	@include flex-align(center, middle);
		}
	}
}