/*=========
	2.6.0 CTA
===========*/
.cta {
	font-family: $capitalFontFamily;

	&__textarea {
		@include xy-grid;
		@include xy-cell;
	}

	&__headline {
		@include text-transform(uppercase);
		@include font-bold($weight: 800);
		color: $colorCallAction;
		font-size: rem-calc(24);
	}

	&__text {
		color: $colorGrayLight;
		font-size: rem-calc(18);
		@include code-inline;
		@include flex-align-self(bottom);
	}

	&__text-select {
		@include text-decoration(
			$decoration: underline);
		@include text-transform(uppercase);
	}

	&__form {
		padding-top: 2rem;
	}
}