/*===================
	3.4. Footer Global
=====================*/
.footer {
	background-color: $colorBlackMedium;

	&__headline {
		@include xy-cell;
		padding-top: 1rem;
		font-family: $capitalFontFamily;
		color: $colorGrayLight;
		font-size: rem-calc(22);
		text-align: center;
		@include font-bold($weight: 700);
		@include text-transform(uppercase);
	}

	&__button {
		@include xy-grid;
		@include flex-align(center, middle);
		margin-top: 2rem;
	}

	&__contact {
		@include xy-grid;
		@include flex-align(center, middle);
	}

	&__widget {
		@include breakpoint(small) {
			@include xy-cell(12);
			padding: 0.8rem 0 0 5rem;
		}
		@include breakpoint(medium) {
			@include xy-cell(4);
			padding: 0.8rem 0 0 0;
		}
		@include breakpoint(large, xlarge up) {
			@include xy-cell(3);
			padding: 1.8rem 0 0.8rem 0;
		}
	}

	&__copyrighted {
		@include xy-grid;
		padding-top: 1rem;
		color: $colorGrayDark;
		font-size: rem-calc(10);
	}
}