/*======================
  3.1. Layout Main Page
========================*/
body {
	background: $light-gray;
	overflow-x: hidden;
	height: auto;
  background-image: none;
  min-height: 100%;
}

*:focus {
	outline: none;
}

ul {
	list-style: none;
}

.page {
	max-width: $pageWidth;
	margin: 0 auto;
	min-height: 100%;

	&__container {
		@include xy-grid-container;
	}

	&__off-canvas {
		@include off-canvas-basics;
		@include off-canvas-base;
		@include off-canvas-position(right);
		background-color: $colorBlueDark;
	}

	&__off-canvas-inner {
		padding: 2.5rem 1.5rem;
		height: 100%;
	}

	&__off-canvas-content {
		@include off-canvas-content;
	}

	&__main-nav {
		position: relative;
		height: 100%;
		border: 3px solid $colorBlueMedium;
	}

	&__top-container {
    background-color: $colorBlackMedium;
  }

  &__header {
    position: relative;
  }
}

// Slick Slider style
.slick-dotted.slick-slider {
	margin: 0;
}