/*===================
  1.0.1 Top container
=====================*/
.top-container {
	@include xy-grid;
	@include flex-align(center, middle);
	font-size: rem-calc(14);
	padding: 0.5rem 0;

	&__logo {
		@include xy-grid;
		@include breakpoint(small) {
			@include xy-cell(12);
			@include flex-align(center, middle);
			margin-bottom: 1.5rem;
		}
		@include breakpoint(medium) {
			@include xy-cell(12);
			margin-bottom: 1.5rem;
		}
		@include breakpoint(large, xlarge up) {
			@include xy-cell(auto);
			@include flex-align(left, middle);
			margin-bottom: 0;
		}
	}

	&__contacts-widget {
		@include xy-grid;
		@include breakpoint(small) {
			@include xy-cell(12);
			@include flex-align(center, middle);
		}
		@include breakpoint(medium) {
			@include xy-cell(12);
			@include flex-align(center, middle);
		}
		@include breakpoint(large, xlarge up) {
			@include xy-cell(shrink);
			@include flex-align(right, middle);
		}
	}

	&__item {
		@include breakpoint(small) {
			margin-bottom: 1rem;
		}
		@include breakpoint(medium) {
			margin-left: 0.5rem;
		}
		@include breakpoint(large, xlarge up) {
			margin-left: 1.5rem;
			margin-bottom: 0;
		}
	}

	&__button {
		@include breakpoint(small) {
			@include xy-cell(12);
			margin: 1.5rem 0;
			text-align: center;
		}
		@include breakpoint(medium) {
			@include xy-cell(auto);
			margin: 1rem 0;
		}
		@include breakpoint(large, xlarge up) {
			@include xy-cell(shrink);
			margin: 0;
		}

		.dashed {
			font-size: rem-calc(16);
			color: $colorCallAction;
			border-bottom: 1px dashed $colorCallAction;

			&:hover,
			&:focus {
				color: lighten($colorCallAction, 20%);
				border-bottom: 1px dashed lighten($colorCallAction, 10%);
				transition: 0.3s linear;
				cursor: pointer;
			}
		}
	}
}