/*===========
	4.5.3 Modal 
=============*/
.modal {
	@include reveal-modal-width(
		$width: 80%, 
		$max-width: 75rem);
	border: none;
	border-radius: 5px;
	color: $colorGrayLight;
	top: 5px;

	&_notscroll {
		overflow: hidden;
	}
	
	&__top-container {
		@include xy-grid-container;
		@include xy-grid;
		@include xy-gutters(
			$gutters: 2.5rem,
			$gutter-type: margin,
			$gutter-position: (top, bottom));
	}

	&__logo {
		@include breakpoint(small) {
			@include flex-align(center, middle);
			@include xy-cell(12);
			text-align: center;
			padding-bottom: 0.5rem;
		}
		@include breakpoint(medium) {
			@include xy-cell(4);
			text-align: left;
			padding-bottom: 0;
		}
		@include breakpoint(large) {
			@include xy-cell(4);
			text-align: left;
			padding-bottom: 0;
		}
	}

	&__headline {
		font-size: rem-calc(26);
		@include font-bold($weight: 600);
		font-family: $capitalFontFamily;
		@include breakpoint(small) {
			@include xy-cell(12);
			text-align: center;
			padding-top: 0.5rem;
		}
		@include breakpoint(medium) {
			@include xy-cell(8);
			text-align: center;
			padding-top: 0;
		}
		@include breakpoint(large) {
			@include xy-cell(8);
			text-align: right;
			padding-top: 0;
		}
	}

	&__gallery {
		padding: 3rem;
		width: 100%;
		height: auto;
	}

	&__tabs-container {
		@include xy-grid-container;
		@include xy-gutters(
			$gutters: 2rem,
			$gutter-type: padding,
			$gutter-position: (top, bottom));
	}

	&__tabs {
		@include tabs-container;
		border: 1px solid $colorBlueLight;
		background: none;
		font-family: $capitalFontFamily;
	}

	&__tabs-title {
		@include tabs-title;
		@include font-bold(
			$weight: 600);
		background: none;
		@include xy-cell(6, $gutters: 0);
		text-align: center;

		&>a {
			font-size: rem-calc(18);
			padding: 1rem 0;
			@include font-bold(
			$weight: 600);
			color: $colorGrayLight;

			&:active,
			&:focus,
			&:hover {
				background: $colorBlueLight;
			}
		}

		&.is-active>a {
			color: $colorCallAction;
			background: $colorBlueLight;
		}
	}

	&__tabs-content {
		@include tabs-content;
		color: $colorGrayLight;
		border: 1px solid $colorBlueLight;
		background: none;
		max-height: 80vh;
		overflow-y: auto;
	}

	&__tabs-panel {
		@include tabs-panel;
	}

	&__tabs-panel-list {
		margin-bottom: 0;
	}

	&__tabs-panel-item {
		margin-top: 0.1rem;
		letter-spacing: 0.03em;
	}

	// No Tab
	&__container {
		@include xy-grid-container;
		@include xy-gutters(
			$gutters: 2rem,
			$gutter-type: padding,
			$gutter-position: (top, bottom));
	}

	&__content {
		color: $colorGrayLight;
		border: 1px solid $colorBlueLight;
		background: none;
	}

	&__list {
		padding: 1rem;
		margin-bottom: 0;
	}

	&__item {
		margin-top: 0.5rem;
		letter-spacing: 0.03em;
	}

	&__button {
		margin-top: 1rem;
		@include flex;
  	@include flex-align(center, middle);
	}
}

// Photo gallery
.gallery {
	overflow: hidden;

	&__figure {
		//@include responsive-embed(5 by 3);
		position: relative;
	}

	&__image {
		width: 100%;
		height: auto;
   	object-fit: cover;
	}

	&__figcaption {
		@include orbit-caption;
		font-family: $capitalFontFamily;
		font-size: rem-calc(18);
	}
}

.slick-arrow {
	width: 75px;
  height: 75px;
  border-color: #000;
}

.slick-prev {
  border-bottom: 6px solid;
  border-left: 6px solid;
}
   
.slick-next {
  border-bottom: 6px solid;
  border-left: 6px solid;
}

.slick-dots {
	bottom: -5px;


	& li {
		margin: 0;
	}
}