/*=================
  2.4.0 Main Header
===================*/
.header {
	font-family: $capitalFontFamily;

	&__content-container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

  &__trigger-area {
    @include xy-grid;
    @include flex-align(right, middle);
    padding: 1.5rem 0;
  }

  &__trigger {
  	position: relative;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    background-color: $colorBlueMedium;
    border: 1px solid $colorBlueDark;
  }

  &__trigger-icon {
  	@include absolute-center;
  }

	&__content {
		@include xy-grid;
		justify-content: space-between;
		margin-top: 2rem;
	}

	&__headline {
		@include breakpoint(small) {
			@include xy-cell(12);
		}
		@include breakpoint(medium) {
			@include xy-cell(6);
		}
		@include breakpoint(large, xlarge up) {
			@include xy-cell(6);
		}
	}

	&__privilege {
		width: fit-content;
		@include breakpoint(small) {
			padding: 3.5rem 0 0 0.5rem;
		}
		@include breakpoint(medium) {
			padding: 6rem 0 0 0.5rem;
		}
		@include breakpoint(large, xlarge, xxlarge, slarge) {
			padding: 8rem 0 0 4.5rem;
		}
		@include breakpoint(sslarge) {
			padding: 10rem 0 0 4.5rem;
		}
	}

	&__form {
		@include breakpoint(small) {
			@include xy-cell(12);
		}
		@include breakpoint(medium) {
			@include xy-cell(6);
		}
		@include breakpoint(large, xlarge up) {
			@include xy-cell(4);
		}
		transform: scale(1);
		padding-top: 3rem;
	}
}

// Offer
.offer {
	
	&__desc {
		@include font-bold($weight: 800);
		@include text-transform(uppercase);
		color: $colorGrayLight;
		font-family: inherit;
		@include breakpoint(small) {
			font-size: rem-calc(14);
		}
		@include breakpoint(medium) {
			font-size: rem-calc(14);
		}
		@include breakpoint(large, xlarge up) {
			font-size: rem-calc(18);
		}
	}
	
	&__title {
		@include text-transform(uppercase);
		@include font-bold($weight: 900);
		color: $colorGrayLight;
		line-height: 1.2em;
		margin-top: 1rem;
		font-family: inherit;
		@include breakpoint(small) {
			font-size: rem-calc(26);
		}
		@include breakpoint(medium) {
			font-size: rem-calc(28);
		}
		@include breakpoint(large, xlarge up) {
			font-size: rem-calc(48);
		}

		.highlighted {
			color: $colorBlueLight;
		}
	}
}

// Privilege
.privilege {
	@include bordered(
		$width: 2px,
		$type: solid,
		$color: $colorBlueLight);
	@include border-radius(5px);
	@include breakpoint(small) {
		font-size: rem-calc(14);
	}
	@include breakpoint(medium) {
		font-size: rem-calc(12);	
	}
	@include breakpoint(large, xlarge, xxlarge) {
		font-size: rem-calc(18);	
	}
	@include breakpoint(slarge, sslarge) {
		font-size: rem-calc(18);	
	}

	&__list {
		letter-spacing: 1px;
		@include font-bold($weight: 600);
		color: $colorGrayLight;
		list-style: none;
		padding: 0.5rem;
		margin-bottom: 0;
	}

	&__item {

		.highlighted {
			@include text-transform(uppercase);
			color: $colorBlueLight;
		}
		
		&:before {
			content: "\2022";
			color: $colorBlueLight;
			@include font-bold($weight: 900);
			display: inline-block;
			width: 0.6em;
			margin-left: -1em;
		}
	}
}