/*===================
  2.4.1 Header Hero
=====================*/
.hero {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  @include breakpoint(small) {
    height: $heroHeight*1.50;
  }
  @include breakpoint(medium) {
    height: $heroHeight/1.53;
  }
  @include breakpoint(large, xlarge, xxlarge, slarge) {
     height: $heroHeight;
  }
  @include breakpoint(sslarge) {
    height: $heroHeight/1.62;        
  }

  &__image-bg {
    @include breakpoint(small) {
      height: $heroHeight*1.50;
    }
    @include breakpoint(medium) {
      height: $heroHeight/1.53;
    }
    @include breakpoint(large, xlarge, xxlarge, slarge) {
      height: $heroHeight;
    }
    @include breakpoint(sslarge) {
      height: $heroHeight/1.62;        
    }
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  &__caption {
    @include xy-grid-container;
    @include vertical-center;
    @include horizontal-center;
    box-sizing: inherit;
    width: 100%;
    @include text-transform(uppercase);
    color: $colorBlueLight;
    @include font-bold($weight: 800);
    @include breakpoint(small) {
      margin-top: rem-calc(-170);
      margin-left: 20px;
      font-size: rem-calc(26);
    }
    @include breakpoint(medium) {
      margin-top: rem-calc(-20);
      margin-left: 20px;
      font-size: rem-calc(28);
    }
    @include breakpoint(large, xlarge, xxlarge) {
      margin-top: rem-calc(20);
      margin-left: 200px;
      font-size: rem-calc(48);
    }
    @include breakpoint(slarge) {
      margin-top: rem-calc(-90);
      margin-left: 200px;
      font-size: rem-calc(48);
    }
    @include breakpoint(sslarge) {
      margin-top: rem-calc(-65);
      margin-left: 200px;
      font-size: rem-calc(48); 
    }
  }

  &__dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 0;
    @include show-for(large);
    z-index: 6;

    li {
      display: inline-block;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;

      button {
        border: 0;
        background: transparent;
        outline: none;
        line-height: 0px;
        font-size: 0px;
        color: transparent;
        cursor: pointer;

        &:hover,
        &:focus {
          outline: none;

          &:before {
            opacity: $slick-opacity-on-hover;
          }
        }

        &:before {
          content: $slick-dot-character;
          width: 20px;
          height: 20px;
          font-family: $slick-font-family;
          font-size: $slick-dot-size;
          line-height: 20px;
          text-align: center;
          color: $slick-dot-color;
          opacity: $slick-opacity-not-active;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }

      &.slick-active button:before {
        color: $slick-dot-color-active;
        opacity: $slick-opacity-default;
      }
    }
  }
}

.darkened {
    
  &:before {
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-linear-gradient(26deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0.3) 95%);
    background-image: -o-linear-gradient(26deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0.3) 95%);
    background-image: linear-gradient(116deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0.3) 95%);
  } 
}