/*=====================
	2.4.2 Main Navigation
=======================*/
.main-nav {
	@include font-bold($weight: 800);
	@include text-transform(uppercase);
	text-align: center;
	padding-top: rem-calc(40);

	&__close-button {
		@include close-button;
		line-height: 0.5;
		top: 0;
		right: 0;
		padding: 0.5rem 0.5rem 0 0;
		color: $colorBlueLight;
		font-size: rem-calc(38);

		&:hover,
		&:active {
			color: $colorBlueMedium;
		}

		&:focus {
			color: $colorBlueLight;
		}
	}
	
	&__list {
		@include menu-base;
		@include menu-direction(vertical);
	}

	&__link {
		color: $colorGrayLight;

		&:hover,
		&:active,
		&:focus {
			color: $colorGrayMedium;
		}

		&.is-active {
			color: $colorCallAction;
		}
	}
}