/*=====================
  3.0.2 Section Consult 
=======================*/
.consult {
	background-image: url('../img/section/consult/consult-bg.jpg');

	&__headline {
		color: $colorGrayLight;
		
		&::after {
			border-bottom: none;
		}
	}

	&__content {
		padding: 2.8rem 0;
	}

	&__data-protection {
		@include xy-grid;
		@include flex-align(
			$x: center,
			$y: stretch);
		padding-bottom: 0.5rem;
	}
}