/*========================
  3.0.3 Section Advantages
==========================*/
.working-process {
	background-image: url('../img/section/working-process/working-process-bg.jpg');

	&__line-area {
		position: relative;
		@include show-for($size: large);
	}

	&__line-horizontal {
		position: absolute;
		top: 48px;
		left: 40px;
		width: 64px;
		height: 26px;
		stroke: $colorBlueDark;
		fill: $colorBlueDark;
	}

	&__line-horizontal-1 {
		position: absolute;
		top: -14px;
		left: 144px;
		stroke: $colorBlueDark;
		fill: $colorBlueDark;
	}

	&__line-horizontal-2 {
		position: absolute;
		top: -14px;
		left: 438px;
		stroke: $colorBlueDark;
		fill: $colorBlueDark;
	}

	&__line-horizontal-3 {
		position: absolute;
		top: -14px;
		left: 728px;
		stroke: $colorBlueDark;
		fill: $colorBlueDark;
	}

	&__line-vertical {
		position: absolute;
		top: 104px;
		left: -160px;
		stroke: $colorBlueDark;
		fill: $colorBlueDark;
		width: 26px;
		height: 212px;
	}

	&__line-horizontal-revers {
		position: absolute;
		top: 283px;
		right: 680px;
		stroke: $colorBlueDark;
		fill: $colorBlueDark;
	}

	&__line-horizontal-revers-1 {
		position: absolute;
		top: 283px;
		right: 389px;
		stroke: $colorBlueDark;
		fill: $colorBlueDark;
	}

	&__line-horizontal-revers-2 {
		position: absolute;
		top: 283px;
		right: 96px;
		stroke: $colorBlueDark;
		fill: $colorBlueDark;
	}
}