/*=====================
  4.1.2 Advantages Card
=======================*/
.advantages-card {
	@include card-container(
		$border: 1px solid $colorBlueLight);
	@include border-radius(50px);
	@include breakpoint(small) {
		height: auto;
	}

	&__icon-area {
		@include position(relative);
		@include flex-align(center, middle);
		@include card-divider;
		background: none;
	}

	&__big-circle {
		position: relative;
		width: 90px;
  	height: 90px;
  	@include border-radius(50%);
  	border: 2px solid $colorBlueDark;
  	background-color: $colorBlueLight;
	}

	&__small-circle {
		@include absolute-center;
		width: 55px;
  	height: 55px;
  	@include border-radius(50%);
  	border: 2px solid $colorBlueDark;
  	background-color: $colorBlueMedium;
  	margin: 0 auto;
	}

	&__icon {
		@include absolute-center;
		top: 52%;
		left: 55%;
		height: 35px;
		width: 35px;
		fill: $white;
	}

	&__headline {
		@include card-divider;
		@include flex-align(center, middle);
		padding: 0 1rem;
		background: none;
		@include font-bold($weight: 900);
		@include text-transform(uppercase);
		font-family: $capitalFontFamily;
		font-size: rem-calc(22);
		text-align: center;
		color: $colorBlueLight;
		margin-bottom: 0;
	}

	&__desc {
		@include card-section;
		font-family: $sectionDescFontFamily;
		font-size: rem-calc(18);
		line-height: 1.2;
		@include font-bold($weight: 600);
		text-align: center;
		color: $colorBlackMedium;
	}
}