/*======================
  4.1.4 Testimonial Card
========================*/
.testimonial-card {
	@include card-container(
		$background: $colorBlueLight,
		$color: $colorGrayLight,
		$margin: 10px,
		$border: 1px solid $colorBlueMedium,
		$radius: 5px);
		@include breakpoint(small) {
      height: auto;
    }

	&__content {
		@include xy-grid-container;
		@include xy-grid;
		@include flex-align(center, middle);
		padding: 1rem 0;
	}

	&__quote {
		@include xy-grid;
		@include flex-align(center, middle);
		padding: 1rem 1.2rem 0 1.2rem;
		font-size: rem-calc(16);
		@include font-bold($weight: 700);
		text-align: center;
	}

	&__icon {
		fill: $colorGrayLight;
		height: 30px;
  	width: 25px;
  	margin-bottom: 1rem;
	}
}