<div id="calloutAlert" class="callout-success" data-closable="slide-out-right" data-reveal data-show-delay>
  <div class="callout-success__content">
    <div class="callout-success__content-inner">
      <h5 class="callout-success__headline">Спасибо!</h5>
      <p class="callout-success__text">Ваша заявка отправлена.</p>
      <p class="callout-success__text">С Вами свяжутся в течение 30-45 минут</p>
    </div>
  </div>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>