/*====================
	4.6.1 Section Global
======================*/
.cta {

	&__textarea {
		@include xy-grid;
		@include xy-cell;
		@include breakpoint(small) {
			@include flex-align(center, middle);
			text-align: center;
		}
		@include breakpoint(medium) {
			@include flex-align(left, middle);
			text-align: left;
		}
		@include breakpoint(large, xlarge up) {
			@include flex-align(left, middle);
			text-align: left;
		}
	}

	&__headline {
		font-family: $capitalFontFamily;
		@include text-transform(uppercase);
		@include font-bold($weight: 800);
		color: $colorCallAction;
		font-size: rem-calc(24);
	}

	&__text {
		font-family: $sectionDescFontFamily;
		color: $colorGrayLight;
		font-size: rem-calc(18);
		@include code-inline;
		@include flex-align-self(bottom);
	}

	&__text-select {
		@include text-decoration(
			$decoration: underline);
		@include text-transform(uppercase);
	}

	&__form {
		padding-top: 2rem;
	}
}