<footer id="footer" class="footer">
  <div class="page__container">
    <h3 class="footer__headline">
      Остались вопросы?<br>Закажите бесплатную консультацию сейчас
    </h3>
    <div class="footer__button">
      <button type="submit" class="button button-cta" data-open="formBackCall">Заказать звонок</button>
    </div>
    <div class="footer__contact">
      <div class="footer__widget">
        {{> work-time-widget}}
      </div>
      <div class="footer__widget">
        {{> phone-number-widget}}
      </div>
      <div class="footer__widget">
        {{> email-widget}}
      </div>
      <div class="footer__widget">
        {{> viber-widget}}
      </div>
    </div>
    <div class="footer__copyrighted">
      <p class="footer__copyrighted-title"> ©2020 Vitrus inc</p>
    </div>
  </div>
</footer>