<div class="top-container">
  <div class="top-container__logo">
    {{> logo}}
  </div>
  <!-- Begin contacts top container -->
  <div class="top-container__contacts-widget">
    <ul class="contacts-widget">
      <li class="top-container__item">
        {{> address-widget}}
      </li>
      <li class="top-container__item">
        {{> work-time-widget}}
      </li>
      <li class="top-container__item">
        {{> phone-number-widget}}
      </li>
    </ul>
  </div>
  <!-- End contacts top container -->
  <div class="top-container__button">
    <button type="button" data-open="formBackCall">
      <span class="dashed">Заказать звонок</span>
    </button>
  </div>
</div>