<form class="form form-cta" data-abide novalidate>
  <label class="form__label form-cta__label">
    <input type="text" class="form__input form-cta__input" placeholder="Ваше имя*" aria-describedby="example1Hint1" aria-errormessage="example1Error1" required pattern="text">
    <span class="form-error form__error">
      Эй, тебе лучше заполнить это, это обязательно.
    </span>
  </label>
  <label class="form__label form-cta__label">
    <input type="tel" class="form__input form-cta__input" placeholder="Номер телефона*" aria-describedby="example2Hint2" aria-errormessage="example2Error2" required pattern="number">
    <span class="form-error form__error">
      Эй, тебе лучше заполнить это, это обязательно.
    </span>
  </label>
  <button type="submit" class="button button-cta form-cta__button">Получить консультацию</button>
</form>