<form class="form" data-abide novalidate>
  <div data-abide-error class="form__callout alert" style="display: none;">
    <p class="form__alert-text"><i class="fi-alert"></i> В вашей форме есть некоторые ошибки!</p>
  </div>
  <div class="form__headline">Заполните<br>заявку</div>
  <div class="form__desc">и получите
    <span class="text-select">бесплатную</span> консультацию
  </div>
  <label class="form__label">Имя*
    <input type="text" class="form__input" placeholder="Александр" aria-describedby="example1Hint1" aria-errormessage="example1Error1" required pattern="text">
    <span class="form-error form__error">
      Эй, тебе лучше заполнить это, это обязательно.
    </span>
  </label>
  <label class="form__label">Номер телефона*
    <input type="tel" class="form__input" placeholder="+375 (код) 1112233" aria-describedby="example2Hint2" aria-errormessage="example2Error2" required pattern="number">
    <span class="form-error form__error">
      Эй, тебе лучше заполнить это, это обязательно.
    </span>
  </label>
  <button type="submit" class="button expanded button-cta">Получить консультацию</button>
  <div class="form__data-protection">
    {{> data-protection}}
  </div>
</form>