<section id="action" class="section section__bg action" data-magellan-target="action">
  <div class="page__container">
    <h2 class="section__headline action__headline">Специальное предложение</h2>
    <p class="section__subheadline action__subheadline">
      Успей стать одним из первых!
    </p>
    <p class="action__offer">Каждую вторую неделю квартала первым 3-м клиентам<br><span class="action__text-select">скидка</span>&nbspна элетромонтажные работы*</p>
    <div class="action__discount">
      <div class="action__discount-item">1-й -
        <span class="action__discount-item-percent">20%</span>
      </div>
      <div class="action__discount-item">2-й -
        <span class="action__discount-item-percent">15%</span>
      </div>
      <div class="action__discount-item">3-й -
        <span class="action__discount-item-percent">10%</span>
      </div>
    </div>
    <div class="action__content">
      <div class="cta">
        <div class="cta__textarea">
          <div class="cta__headline action__cta-headline">Заполните форму&nbsp</div>
          <div class="cta__text action__cta-text">и получите&nbsp
            <span class="cta__text-select">скидку</span>&nbspна электромонтажные работы!
          </div>
        </div>
        <div class="cta__form">
          {{> form-action}}
        </div>
      </div>
    </div>
    <div class="action__note">*Выбор осуществляется по дате и времени регистрации номера телефона</div>
    <div class="action__data-protection">
      <div class="data-protection">
        <svg class="data-protection__icon">
          <use xlink:href="{{root}}assets/img/sprite/icon.svg#lock"></use>
        </svg>
        <span class="data-protection__text action__data-protection-text">Гарантия защиты данных</span>
      </div>
    </div>
  </div>
</section>