<section id="advantages" class="section section__bg advantages" data-magellan-target="advantages">
  <div class="page__container">
    <h2 class="section__headline">Преимущества</h2>
    <p class="section__subheadline">
      Вы можете рассчитывать на нас в отношении тщательного, детализированного обслуживания и полного уважения вашего времени.
    </p>
    <div class="section__content" data-equalizer="advantagesCard">
      {{#each advantages.card}}
      <div class="section__advantages-card">
        {{> advantages-card}}
      </div>
      {{/each}}
    </div>
  </div>
</section>