<section class="section section__bg consult">
  <div class="page__container">
    <h2 class="section__headline consult__headline">Не знаете с чего начать?</h2>
    <div class="consult__content">
      <div class="cta">
        <div class="cta__textarea">
          <div class="cta__headline">Заполните форму&nbsp</div>
          <div class="cta__text">и получите&nbsp&nbsp
            <span class="cta__text-select">бесплатную</span> &nbsp&nbspконсультацию!
          </div>
        </div>
        <div class="consult__form cta__form">
          {{> form-cta}}
        </div>
      </div>
    </div>
    <div class="consult__data-protection">
      {{> data-protection}}
    </div>
  </div>
</section>