<section id="services" class="section section__bg services" data-magellan-target="services">
  <div class="page__container">
    <h2 class="section__headline">Услуги</h2>
    <p class="section__subheadline">
      Мы гордимся тем, что делаем. Высочайшие стандарты качества являются нашим приоритетом. Мы всегда пунктуальны, потому что уважаем ваше время.
    </p>
    <div class="section__content">
      <div class="section__services-card">
        {{#each services.apartment}}
        {{> services-card}}
        {{/each}}
      </div>
      <div class="section__services-card">
        {{#each services.country_house}}
        {{> services-card}}
        {{/each}}
      </div>
      <div class="section__services-card">
        {{#each services.office}}
        {{> services-card}}
        {{/each}}
      </div>
      <div class="section__services-card">
        {{#each services.manufacturing}}
        {{> services-card}}
        {{/each}}
      </div>
    </div>
  </div>
</section>