<div id="modalPhotoManufacturing" class="modal">
  <!-- Begin modal logo and headline -->
  <div class="modal__top-container">
    <div class="modal__logo">
      {{> logo}}
    </div>
    <h5 class="modal__headline">{{ card.headline }}</h5>
  </div>
  <!-- End modal logo and headline -->
  <!-- Begin modal photo gallery -->
  <div id="modalGallery" class="modal__gallery gallery">
    {{#each gallery}}
    <div>
      <figure class="gallery__figure">
        <img class="gallery__image" src="{{ image }}" alt="{{ image_name }}">
        <figcaption class="gallery__figcaption">{{ image_name }}</figcaption>
      </figure>
    </div>
    {{/each}}
  </div>
  <!-- End modal photo gallery -->
  <button class="close-button" aria-label="Close modal" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>