<div class="testimonial-card" data-equalizer-watch="testimonialCard">
  <div class="testimonial-card__content">
    <!-- Begin Author Data Avatar -->
    <div class="avatar">
      <img src="{{ avatar.image }}" alt="{{ avatar.name }}" class="avatar__image">
      <div class="avatar__info">
        <div class="avatar__name">{{ avatar.name }},<span class="avatar__year">{{ avatar.age }}</span></div>
        <div class="avatar__work">{{ avatar.work }}</div>
      </div>
    </div>
    <!-- End Author Data -->
    <div class="testimonial-card__quote">
      <svg class="testimonial-card__icon">
        <use xlink:href="{{root}}assets/img/sprite/icon.svg#quote"></use>
      </svg>
      {{ quote }}
    </div>
  </div>
</div>