<div id="modalContentManufacturing" class="modal-content">
  <div class="modal-content__top-container">
    <div class="modal-content__logo">
      {{> logo}}
    </div>
    <h5 class="modal-content__headline">{{ card.headline }}</h5>
  </div>
  <!-- Begin Modal Content -->
  <div class="modal-content__container">
    <div class="modal-content__content">
      <ol class="modal-content__list">
        {{#each content}}
        <li class="modal-content__item">{{ this }}</li>
        {{/each}}
      </ol>
      <div class="modal-content__button">
        <button type="submit" class="button button-cta" data-open="formBackCall">Получить консультацию</button>
      </div>
    </div>
  </div>
  <!-- End Modal Content -->
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>