<div id="modalContentOffice" class="reveal modal">
  <!-- Begin modal logo and headline -->
  <div class="modal__top-container">
    <div class="modal__logo">
      {{> logo}}
    </div>
    <h5 class="modal__headline">{{ card.headline }}</h5>
  </div>
  <!-- End modal logo and headline -->
  <!-- Begin modal content -->
  <div class="modal__container">
    <div class="modal__content">
      <ol class="modal__list">
        {{#each content}}
        <li class="modal__item">{{ this }}</li>
        {{/each}}
      </ol>
    </div>
    <div class="modal__button">
      <button type="submit" class="button button-cta" data-open="formBackCall">Получить консультацию</button>
    </div>
  </div>
  <!-- End modal content -->
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>