<div id="modalContentApartment" class="reveal modal">
  <!-- Begin modal logo and headline -->
  <div class="modal__top-container">
    <div class="modal__logo">
      {{> logo}}
    </div>
    <h5 class="modal__headline">{{ card.headline }}</h5>
  </div>
  <!-- End modal logo and headline --> 
  <!-- Begin modal content tabs -->
  <div class="modal__tabs-container">
    <ul id="servicesModalContentApartment" class="modal__tabs">
      <li class="modal__tabs-title is-active">
        <a href="#panel1" aria-selected="true">Новостройка</a>
      </li>
      <li class="modal__tabs-title">
        <a data-tabs-target="panel2" href="#panel2">Вторичное жилье</a>
      </li>
    </ul>
    <div class="modal__tabs-content" data-tabs-content="servicesModalContentApartment">
      <div id="panel1" class="modal__tabs-panel is-active">
        <ol class="modal__tabs-panel-list">
          {{#each content_new_building}}
          <li class="modal__tabs-panel-item">{{ this }}</li>
          {{/each}}
        </ol>
      </div>
      <div id="panel2" class="modal__tabs-panel">
        <ol class="modal__tabs-panel-list">
          {{#each content_secondary_housing}}
          <li class="modal__tabs-panel-item">{{ this }}</li>
          {{/each}}
        </ol>
      </div>
    </div>
    <div class="modal__button">
      <button type="submit" class="button button-cta" data-open="formBackCall">Получить консультацию</button>
    </div>
  </div>
  <!-- End modal content tabs -->
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>